language: ruby
rvm:
- 2.3.3

#before_script:
# - chmod +x ./script/cibuild # or do this locally and commit

# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
script:
  - bundle exec jekyll build
  - bundle exec htmlproofer ./_site --disable-external --allow-hash-href --assume-extension --file-ignore '/.\/_site\/reveal.js\/.*/' --empty-alt-ignore

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

sudo: false
