
body {
    padding-top: 52px;
}

.navbar-default {
    background-color: #5B78FD;
    color: #fff;
    border-bottom: solid 1px #003399;
}

.navbar-default .nav li a {
    color:#fff;
}

.navbar-default .nav ul.dropdown-menu li a {
    color: #333 !important;
}


.navbar-default a.navbar-brand {
    color: #fff;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > li > a:focus,
.navbar-default a.navbar-brand:hover,
.navbar-default a.navbar-brand:focus{
  text-decoration: none;
  background-color: #eee;
  color: #333;
}

.navbar-default .nav li.active a {
    background-color: #003399;
    color: #fff;
}

.navbar-default .nav ul.dropdown-menu li.active a {
    background-color: #eee !important;
}

body {
    background: no-repeat top right;
    background-color: #fff;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/banner.png);
}

header.intro-header {
    padding-top: 5px;
}

header.intro-header h1 {
    margin-top: 50px;
    padding-right: 200px;
}

.odk-logo {
    width: 200px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

.main-content {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .main-content{
        max-width: 970px;
    }
}

@media (max-width: 980px) {
    body {
        background: transparent;
    }

    header.intro-header h1 {
        padding-right: 0px;
    }

    .odk-logo {
        float: none;
    }

}

.europe-banner {
    margin-top: 10px;
    background: #003399;
    color:#fff;
}

.europe-banner a {
    color: #fff;
}


.europe-logo {
    float: left;
    margin-right: 10px;
}

.europe-logo img {
    height: 50px;
    border-right: solid 1px #fff;
}

.europe-text {
    margin-top: 15px;
}

footer {
    margin-top: 10px;
    padding: 20px;
    background: #5B78FD;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

footer .footer-links a {
    color: #003399;
}

footer .footer-links a:hover .fa-inverse {
    color: #5B78FD;
}

.emoji {
    display: inline;
}

svg.icon, img.icon {
    max-height: 0.8em;
    max-width: 0.9em;
    vertical-align: baseline;
}

#sites {
    display: flex;
    flex-flow: row wrap;
}

#sites .site {
    min-width: 35ex;
    flex: 1 1 33%;
}

#logos {
    margin-top: 4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#logos a {
    margin: 10px;
}

#logos a img { height: 60px; }

#legend {
    &::before {
    content: " ";
    display: block;
    width: 4em;
    border-top: solid thin black;
    margin-top: 1em;
    }
    span {
    white-space: nowrap;
    margin-right: 1em;
    }
}


.post-type {
    font-style: italic;
    font-weight: bold;
}
