---
---

.emoji {
    display: inline;
}

svg.icon, img.icon {
    max-height: 0.8em;
    max-width: 0.9em;
    vertical-align: baseline;
}

#sites {
    display: flex;
    flex-flow: row wrap;
    .site {
    min-width: 35ex;
    flex: 1 1 50%;
    }
}

#logos {
    margin-top: 4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    a {
    margin: 10px;
    img { height: 60px; }
    }
}

#legend {
    &::before {
    content: " ";
    display: block;
    width: 4em;
    border-top: solid thin black;
    margin-top: 1em;
    }
    span {
    white-space: nowrap;
    margin-right: 1em;
    }
}

/* ODK Blue */
.theme-base-odk .sidebar {
  background-color: #fff;
}

.theme-base-odk .sidebar-nav {
    background-color: #5B78FD;
    padding: 5px;
}

.theme-base-odk .content a,
.theme-base-odk .related-posts li a:hover {
  color: #5B78FD;
}

.sidebar h1 {
    display: block;
    margin: 0px;
    padding: 5px;
}

.logo-europe {
    display: none;
}

@media screen and (min-width: 48em) {

.theme-base-odk .sidebar {
    float: left;
    width: 18rem;

}

.theme-base-odk .content {
    overflow: hidden;
}

.logo-europe {
    display: block;
}

}

.theme-base-odk .sidebar p.lead, .theme-base-odk .sidebar p.lead a {
    color: #5B78FD;
}

.site-url { display: none }
@media print {
    .sidebar-nav, .logo-europe, .lead { display: none; }
    .sidebar { padding: 0 }
    .sidebar-about {
	h1 { display: inline-block; width: 2em }
	.lead.site-url { display: block; font-size: 80% }
    }
}
