
body {
    padding-top: 52px;
}

.navbar-default {
    background-color: #5B78FD;
    color: #fff;
    border-bottom: solid 1px #003399;
}

.navbar-default .nav li a {
    color:#fff;
}

.navbar-default .nav ul.dropdown-menu li a {
    color: #333 !important;
}


.navbar-default a.navbar-brand {
    color: #fff;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > li > a:focus,
.navbar-default a.navbar-brand:hover,
.navbar-default a.navbar-brand:focus{
  text-decoration: none;
  background-color: #eee;
  color: #333;
}

.navbar-default .nav li.active a {
    background-color: #003399;
    color: #fff;
}

.navbar-default .nav ul.dropdown-menu li.active a {
    background-color: #eee !important;
}

.navbar-toggle {
    background: #fff;
}

body {
    background: no-repeat top right;
    background-color: #fff;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/banner.png);
}

header.intro-header {
    padding-top: 5px;
}

header.intro-header h1 {
    margin-top: 50px;
    padding-right: 200px;
}

.odk-logo {
    width: 200px;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

.main-content {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .main-content{
        max-width: 970px;
    }
}

@media (max-width: 980px) {
    body {
        background: transparent;
    }

    header.intro-header h1 {
        padding-right: 0px;
        margin-top: 10px;
        font-size: 2em;
        text-align: center;
    }

    header.intro-header h2 {
        font-size: 2em;
        text-align: center;
    }

    .odk-logo {
        float: none;
        margin: auto;
        width: 150px;
    }

}

.europe-banner {
    margin-top: 10px;
    background: #003399;
    color:#fff;
}

.europe-banner a {
    color: #fff;
}


.europe-logo {
    float: left;
    margin-right: 10px;
}

.europe-logo img {
    height: 50px;
    border-right: solid 1px #fff;
}


.europe-text {
    margin-top: 15px;
}

@media (max-width: 980px) {
    .europe-banner {
        text-align: center;
    }

    .europe-logo {
        float: none;
        text-align: center;
    }

    .europe-logo img {
        border: 0px;
        margin: auto;
    }
}


footer {
    margin-top: 10px;
    padding: 20px;
    background: #5B78FD;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

footer .footer-links a {
    color: #003399;
}

footer .footer-links a:hover .fa-inverse {
    color: #5B78FD;
}

.emoji {
    display: inline;
}

svg.icon, img.icon {
    max-height: 0.8em;
    max-width: 0.9em;
    vertical-align: baseline;
}

img.small-screenshot {
    max-width: 45%;
    vertical-align: baseline;
}

img.display {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sites {
    display: flex;
    flex-flow: row wrap;
}

#softwares {
    display: flex;
    flex-flow: row wrap;
}

#sites .site {
    min-width: 35ex;
    flex: 1 1 33%;
}

#softwares .software {
    padding: 10px;
    flex: 1 1 50%;
}

#softwares .software-logo img {
    height: 70px;
}

#softwares h2 {
    text-align: center;
    min-height: 70px;
}

#logos {
    margin-top: 4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#logos a {
    margin: 10px;
}

#logos a img { height: 60px; }

#legend {
    &::before {
    content: " ";
    display: block;
    width: 4em;
    border-top: solid thin black;
    margin-top: 1em;
    }
    span {
    white-space: nowrap;
    margin-right: 1em;
    }
}


.post-type {
    font-style: italic;
    font-weight: bold;
}

.btn-keyword {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-keyword:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-keyword .badge {
    color: #fff;
    background-color: #398439;
}

.btn-event {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-event:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-event .badge {
    color: #fff;
    background-color: #31b0d5;
}

.btn-software {
    color: #fff;
    background-color: #fbca04;
    border-color: #f0ad4e;
}

.btn-software:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-software .badge {
    color: #fff;
    background-color: #eb9316;
}


.tagcloud {
    line-height: 2.3em;
}

.error {
    font-weight: bold;
    color: #f00;
}

.static_try_block {
    width: 40%;
    border-radius: 15px;
    border: 2px solid #5B78FD;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2%;
    align-content: center;
    text-align: center;
}

.static_try_block_image {
    text-align: center;
    width: 200px;
    height: 200px;
}
