/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
bleu: #5D7CF9;

*/


*{
    box-sizing: border-box;
}

body {
    background-color: #5D7CF9;
    color: #666;
    line-height: 1.5;
    font-size:16px;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #5D7CF9;
}


.wrapper{
    width: 90%;
    max-width: 1000px;
    /* min-width: 400px; */
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

h1, h2, h3, h4{
    font-family: 'Roboto Condensed', sans-serif;
}


.see-all{
    width: 100%;
    text-align: right;
    float: right;
    text-transform: uppercase;
    text-decoration: none;
    color: #5D7CF9;
    font-style: italic;
    font-size: 12px;
}


/*****************/
/***** HEADER *****/
/*****************/


.header-top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    color: #fff;

}

.site-heading{
    display: flex;
    align-items: center;
}

.site-description{
    text-align: right;
    display: flex;
    align-items: right;
}

.site-description a {
    color: #fff;
}

.logo{
    margin-right: 20px;
}

.title-main {
    margin-bottom: 0px;
}

.title-main a{
    font-size: 18px;
    margin: 0;
    color: #fff;

}

.title-sub{
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
}

.europe-logo img {
    height: 50px;
    margin-left: 5px;
}


.baseline{
    margin: 0;
}

/* nav */

.main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: hotpink; */

}

.navbar {
    background: transparent;
    border: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}



.navbar-default .navbar-nav li a {
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(white, white) no-repeat;
    background-size: 100% 5px;
    transition: all 0.3s;
    margin-right: 15px;
    text-decoration: none;
    padding-top:8px;
    padding-bottom: 8px;

    /*background-color: hotpink;*/
}

.navbar-default .navbar-nav .dropdown-menu li a {
    color: #000;
}

.navbar-default .navbar-nav li a:hover{

    background-size: 100% 100%;
    color: #5D7CF9;
    font-style: italic;
    font-weight: bold;

    /*background-color: hotpink;*/
}

/*******/
.flex-control-paging li a {
    background-color: transparent;
    border: 1px solid #5D7CF9;
    box-shadow: none;
}
.flex-control-paging li a.flex-active {
    background: #5D7CF9;

}

.flex-direction-nav a {

    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: #5D7CF9;
    text-shadow: 1px 1px 0 red;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slides li{

}


.slides .slide-description{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;

}


.slides h2{
    margin: 0;
    color: #5D7CF9;
    text-transform: uppercase;
}

.slides h2 a{
    color: #5D7CF9;
}

.top-slider{
    width: 100%;
}

.top-slider .slides p{
    margin: 0;
    color: #fff;

}

/****** MAIN *********/


.main{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    align-items: flex-start;
}

.main h1{
    font-size: 48px;
    text-transform: uppercase;
    color: #5D7CF9;
    margin-top: 0;
    margin-bottom: 20px;
}

.content h1 {
    text-transform: none;
    font-size: 36px;
    margin-bottom: 10px;

}

.title-section{
    width: 100%;
    text-transform: uppercase;
    color :#5D7CF9;
}

.section-image {
    width: 100%;
}

.section-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.section-image img {
    width:100%;
    height: auto;
}

.section-video iframe, .section-video object, .section-video embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************/
/**PROJECTS ACTIVITIESr**/
/************/

.left-index {
    width: 68%;
}



.projects{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: left;

}

.item-project{
    /* background: olive; */
    width: 30%;
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;

}

.side-index .item-project {
    width: 100%;
}

.item-project h3{
    font-size: 14px;
    margin: 0;
}

.item-project a{
    margin-top: auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #5D7CF9;
    font-style: italic;
    font-size: 12px;
}

.item-project img{
    width: 100%;
    height: auto;
}

.item-project-filler {
    flex-grow: 1;
}

/************/
/**Events**/
/************/


.events{
    /* background-color: tomato; */
    width: 100%;
}


.event-list{
    list-style: none;
    padding: 0;
    border: 1px solid #5D7CF9;


}

.event-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #5D7CF9;
    padding: 10px;

}
.event-item:last-of-type{

    border-bottom: 0;

}

.event-date{
    color: #5D7CF9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 40%;
    border-right: 1px solid #5D7CF9;

}

.event-date span{
    font-weight: bold;
    font-size: 24px;
}

.event-description{
    padding: 10px;
    width: 60%;
    line-height: 1.3;
}

.event-title{
    text-transform: uppercase;
    color: #5D7CF9;
    margin: 0;
}

.event-description p{
    margin: 0;
}

/************/
/**Twitter**/
/************/

.title-section-twitter{
    background-image: url('../images/PictosOdk_Twitter.png');
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 35px;
}

.twitter{
    width: 29%;
}

.side-index {
    width: 29%;
}

.tweet-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-tweet{
    border: 1px solid #5D7CF9;
    padding: 10px;
    width: 23%;
    line-height: 1.3;
    font-size: 14px;
}

.item-tweet a{
    color: #5D7CF9;
    text-decoration: none;
    text-transform: uppercase;
}

.slides p {

    color: #666;
}

/************/
/* Softwares */
/************/


.softwares{

}
.softwares-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item-software{
    padding: 10px;
    width: 15%;
}

/************/
/** Footer **/
/************/

.footer{
    padding: 20px 0;
}

.footer-list{
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.footer-list-item{

    display: flex;
    align-items: center;
}

.footer-list-item a {
    color: #fff;
}

.footer-list-item h4{
    margin: 0;
}

.footer-list-item img{
    width: 30px;
    height: auto;
    margin: 5px;
}

.footer .site-description{
    color: white;
    text-align: center;
    display: none;
}


/*** More ***/

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.btn-xs .badge,
.btn-group-xs > .btn .badge {
  top: 0;
  padding: 1px 5px;
}
a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #337ab7;
  background-color: #fff;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-keyword {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-keyword:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-keyword .badge {
    color: #fff;
    background-color: #398439;
}

.btn-event {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-event:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-event .badge {
    color: #fff;
    background-color: #31b0d5;
}

.btn-software {
    color: #fff;
    background-color: #fbca04;
    border-color: #f0ad4e;
}

.btn-software:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}

.btn-software .badge {
    color: #fff;
    background-color: #eb9316;
}


.tagcloud {
    line-height: 2.7em;
}

.error {
    font-weight: bold;
    color: #f00;
}

/** Software **/

#sites {
    display: flex;
    flex-flow: row wrap;
}

#softwares {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: left;
}

#sites .site {
    min-width: 35ex;
    flex: 1 1 33%;
}

#softwares .software {
    padding: 10px;
    width: 50%;
}

#softwares .software-logo img {
    height: 70px;
}


#logos {
    margin-top: 4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#logos a {
    margin: 10px;
}

#logos a img { height: 60px; }

#legend {
    &::before {
    content: " ";
    display: block;
    width: 4em;
    border-top: solid thin black;
    margin-top: 1em;
    }
    span {
    white-space: nowrap;
    margin-right: 1em;
    }
}

svg.icon, img.icon {
    max-height: 0.8em;
    max-width: 0.9em;
    vertical-align: baseline;
}

/** Table **/

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/*** Pagination ****/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*********/
/*********/
/****REPONSIVE*****/
/*********/
/*********/



@media screen and (max-width: 900px){

    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .wrapper{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .main {
        padding: 0px;
    }

    .content {
        padding: 15px;
    }


    .left-index{
        /* background-color: red; */
        width: 100%;
    }

    .twitter{
        width: 100%;
    }

    .side-index {
        width: 100%;
    }

    #softwares .software {
        width: 100%;
        padding: 0px;
    }

    .flexslider {
        border: 0px;
    }


    .events{
        /* background-color: tomato; */
        width: 100%;
    }

    .item-project {
        /* background: olive; */
        width: 48%;

    }
    .item-tweet {


        width: 48%;
        margin-bottom: 20px;

    }

    .navbar-default .navbar-nav li a {
        background: #fff;
        color: #000;
    }

    .navbar-default .navbar-nav li a:hover {
        background: #ccc;
    }

}

@media screen and (max-width: 660px){
    .header-top {

        /* flex-direction: column;
        align-items: flex-start; */

    }

    .title-sub, .baseline {

        font-size: 12px;

    }


}

/**/


/***/
@media screen and (max-width: 550px){
    .title-main {
        font-size: 14px;
    }
    .logo{
        margin-right: 10px;
    }
    .site-description {
        width: 235px;
    }
    .item-project {
        /* background: olive; */
        width: 100%;

    }
    .item-software{
        padding: 10px;
        width: 30%;
    }

    .footer-list{

        display: flex;
        flex-direction: column;
        align-items: center;
    }


}


@media screen and (max-width: 480px){
    .header-top{
        justify-content: center;
    }
    .site-description {
        display: none;
    }
    .footer .site-description{

        display: block;
    }
}

.static_try_block {
    width: 30%;
    border-radius: 15px;
    border: 2px solid #5D7CF9;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2%;
    align-content: center;
    text-align: center;
}

.static_try_block_image {
    text-align: center;
    width: 200px;
    height: 200px;
}
