  <!-- Calendar -->
  <link rel='stylesheet' href='{{ site.baseurl }}/public/fullcalendar-2.4.0/fullcalendar.css' />
  <script src='{{ site.baseurl }}/public/fullcalendar-2.4.0/lib/jquery.min.js'></script>
  <script src='{{ site.baseurl }}/public/fullcalendar-2.4.0/lib/moment.min.js'></script>
  <script src='{{ site.baseurl }}/public/fullcalendar-2.4.0/fullcalendar.js'></script>
  <script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
  </script>
