
<footer class="footer" >
    <ul class="footer-list wrapper">

        <li class="footer-list-item">
            <h4>Follow us on</h4>
            <a href="https://twitter.com/{{ site.author.twitter }}" title = "Twitter"><img src="{{ site.baseurl }}/public/images/footer/TwitterB.png" alt="Twitter" /></a>
            <a href="https://github.com/{{ site.github.owner_name }}" title = "GitHub" ><img src="{{ site.baseurl }}/public/images/footer/GitHub.png" alt="GitHub" /></a>
            <a href="{{ site.baseurl }}/atom.xml" title="Feed"><img src="{{ site.baseurl }}/public/images/footer/feed.png" alt="Feed" /></a>
        </li>

        <li class="footer-list-item">
            <h4><a href="mailto:contact@opendreamkit.org">Contact Us</a></h4>
            <a href="mailto:contact@opendreamkit.org"><img src="{{ site.baseurl }}/public/images/footer/Contact.png" alt="twitter"></a>
        </li>
    </ul>

    <div class="site-description wrapper">
        <h2 class="title-sub">A project funded by the horizon 2020</h2>
        <p class="baseline">European Research Infrastructures Work Program</p>
    </div>
</footer>
