    <header class="header">
        <!--Logo et taglines (projet fondé par...) Note : rajouté le logo ODK avec le txt en bonne couleur-->

        <section class="header-top wrapper">
            <div class="site-heading">
                <img src="{{ site.baseurl }}/public/logos/odk_logo.png" class="logo" alt="logo ODK">
                <h1 class="title-main"><a href="/index.html" title="Open Digital Research Environment Toolkit for the Advancement of Mathematics">OpenDreamKit</a></h1>
            </div>
            <div class="site-description">
                <div>
                <h2 class="title-sub">A project funded by the <a href="https://ec.europa.eu/programmes/horizon2020/">Horizon 2020</a></h2>
                <p class="baseline"><a href="https://ec.europa.eu/programmes/horizon2020/en/h2020-section/european-research-infrastructures-including-e-infrastructures" >European Research Infrastructures Work Program</a></p>
                </div>
                <div class="europe-logo" >
                    <img class="img-responsive" src="{{ site.baseurl }}/public/logos/Flag_of_Europe.svg" alt="Flag of Europe" />
                </div>
            </div>
        </section>

        <!--Menu-->


<!--
        <nav class="main-nav wrapper">
            <a class="" href="#" >The Project</a>
            <a class="" href="#" >Reproductibility</a>
            <a class="" href="#" >Teaching</a>
            <a class="" href="Page/diversity.html" >Diversity</a>
            <a class="" href="#">Events</a>
            <a class="" href="#" >Blog</a>
            <a class="" href="#">People</a>
            <a class="" href="https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FOpenDreamKit%2FOpenDreamKit.github.io%2Fedit%2Fmaster%2Findex.md" role="button" data-toggle="collapse" href="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">EDIT WITH GITHUB</a>

        </nav>
    -->
    <!-- Navigation -->
<nav class="navbar navbar-default main-nav wrapper">
    <div class="container" >

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

{% assign sorted_pages = site.pages | sort:"menu_order" %}


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                {% for node in site.menu %}
                    {% if node.link %}
                        <li><a href="{{ site.baseurl }}{{ node.link }}">{{ node.title }}</a></li>
                    {% else %}
                        {% assign sorted_pages = site.pages | concat: site.tagpages | where: "menu", node.slug | sort:"menu_order" %}
                        <li class="dropdown" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ node.title }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" >
                                {% for sub in sorted_pages %}
                                    <li {% if sub.id == page.id %} class="active" {% endif %}><a href="{{ sub.url }}">{% if sub.menu_title %}{{ sub.menu_title }}{% else %}{{ sub.title }}{% endif %}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>


            <ul class="nav navbar-nav navbar-right" >
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quick links<span class="caret"></span></a>
                                <ul class="dropdown-menu" >
                                        <li><a href="https://github.com/OpenDreamKit/OpenDreamKit/issues?q=label%3Atask+sort%3Acreated-asc">Tasks on GitHub</a></li>
                                        <li><a href="https://github.com/OpenDreamKit/OpenDreamKit/issues?q=label%3Adeliverable+sort%3Acreated-asc">Deliverables on GitHub</a></li>
                                        <li><a href="https://github.com/OpenDreamKit/OpenDreamKit/milestones">Timeline</a></li>
                                        <li><a href="https://github.com/OpenDreamKit/OpenDreamKit/blob/master/README.md#instructions-for-participants" >Instructions for participants</a></li>
                                        <li><a href="{{ site.baseurl }}/tag/project-meeting">Project meetings</a></li>
                                        {% comment %}
                                        <li><a href="{{ site.github.zip_url | replace: 'zipball','edit' }}/{% if page.source %}{{ page.source }}{% else %}{{ page.path }}{% endif %}" >Edit this page</a></li>!-->
></li>
                                        {% endcomment %}
                                        <li><a href="https://github.com/OpenDreamKit/OpenDreamKit.github.io/edit/master/{% if page.source %}{{ page.source }}{% else %}{{ page.path }}{% endif %}" >Edit this page</a                                        <li><a href="https://github.com/OpenDreamKit/OpenDreamKit.github.io/#repository-holding-the-sources-of-the-opendreamkitorg-website-aka-opendreamkitgithubio">How to edit</a></li>
                                        <li><a href="{{ site.baseurl }}/acknowledge">Acknowledge</a></li>
                                </ul>
                    </li>
            </ul>


        </div>


    </div>
</nav>

    </header>
