
{% capture tags %}
{% for node in site.pages %}
    {% assign node_parts = node.url | split: '/' %}
    {% assign node_tag = node_parts | last %}
    {% assign node_folder = node_parts[1] %}
    {% assign tag_size = site.tags[node.tag] | size %}
    {% if node_folder == site.tagfolder %}
        {% if page.alltags or page.tags contains node_tag %}
            ||{{ tag_size | prepend: '0000' | slice: -4, 4 }}|<a class="btn btn-default" href="{{ node.url }}">{{ node.title }} {% if with_post_numbers %}<span class="badge">{{ tag_size }}</span>{% endif %}</a>
        {% endif %}
    {% endif %}
{% endfor %}
{% endcapture %}
{% assign split_list = tags | split:'||' | sort | reverse %}

{% for tag_string in split_list %}
    {% assign tag_string_parts = tag_string | split:'|' %}
    {% assign nb_parts = tag_string_parts | size %}
    {% if nb_parts > 1 %}
      {{ tag_string_parts[1] }}
    {% endif %}
{% endfor %}

