---
layout: page
title: Project Activity
alltags: True
menu_order: 5
menu: project
redirect_from: "/events_activities/project_activities/"
---

Find below <strong>ALL</strong> updates on our recent activity: this includes events, technichal updates, blog posts and more...

{% comment %}
Project activities are generated through the /_posts/ folder
{% endcomment %}

{% assign with_post_numbers = true %}
{% assign tags_expanded = true %}
{% include tags_cloud.html %}

<h2>Most recent activites</h2>

<section class="projects">
    {% for post in site.posts %}
    {% if forloop.index < 19 %}
    {% include post_link.html %}
    {% endif %}
{% endfor %}
</section>

<a href="{{ site.baseurl }}/news/page2/">See more</a>


