---
layout: page
title: Software and components
menu_order: 3
slider: True
slider_order: 2
slider_heading: Software we contribute to
slider_sentence: OpenDreamKit supports the development of several several open source software projects
image: software.png
menu: project
source: _data/software.yml
---

<div id="softwares" >
    {% assign softwares = site.data.software | sort:"name" %}
    {% for soft in softwares %}
        <div class="software" >
            <div class="software-logo" >
                <h2>
                    <a href="{{ soft.link }}">
                        {% if soft.logo %}
                            <img src="{{ site.baseurl }}/public/logos/{{ soft.logo }}" alt="{ soft.name }}" />
                        {% else %}
                            {{ soft.name }}
                        {% endif %}
                    </a>
                </h2>
            </div>
            <p>
          {% if soft.download %}
          <a href="{{ soft.download }}" >Download</a> --
          {% endif %}
          {% if soft.github %}
          <a href="{{ soft.github }}" >GitHub</a> --
          {% endif %}
          <a href="{{ site.baseurl }}/tag/{{ soft.tag }}" >OpenDreamKit activites</a>
        </p>
            <p>{{ soft.description }}</p>
        </div>
    {% endfor %}
</div>
