---
layout: page
title: Software and components
menu_order: 3
slider: True
slider_order: 3
slider_heading: Software we contribute to
slider_sentence: OpenDreamKit supports the development of many open source software projects
image: software.png
menu: project
source: _data/software.yml
---

<p>

OpenDreamKit's core strategy is to support, improve, and integrate
software components already in active use by the mathematical research
and education communities, ranging from computational mathematics
software to general purpose e-infrastructure software such as user
interfaces. This strategy fosters the emergence of a **flexible
toolkit** whose components can be assembled in many ways to serve a
large variety of use cases, in mathematics and beyond.

See below a collection of software OpenDreamKit has contributed to and
details about our contributions.

</p>

<div class="flex" >
<div class="left-index" >
<div id="softwares" >
    <h2 class="title-section">Our main software</h2>
    {% assign softwares = site.data.software | sort:"name" %}
    {% for soft in softwares %}
        <div class="software" >
            <div class="software-logo" >
                <h2>
                    <a href="{{ soft.link }}">
                        {% if soft.logo %}
                            <img src="{{ site.baseurl }}/public/logos/{{ soft.logo }}" alt="{ soft.name }}" />
                        {% else %}
                            {{ soft.name }}
                        {% endif %}
                    </a>
                </h2>
            </div>
            <p>
          {% if soft.download %}
          <a href="{{ soft.download }}" >Download</a> --
          {% endif %}
          {% if soft.github %}
          <a href="{{ soft.github }}" >GitHub</a> --
          {% endif %}
          <a href="{{ site.baseurl }}/tag/{{ soft.tag }}" >OpenDreamKit activites</a>
        </p>
            <p>{{ soft.description }}</p>
        </div>
    {% endfor %}
</div>
</div>
<aside class="side-index">
    <section class="projects">
        <h2 class="title-section">Latest releases</h2>

        {% for post in site.tags['release'] %}
            {% include post_link.html %}
        {% endfor %}


    </section>
</aside>
