---
layout: page
title: Project Activites
alltags: True
menu_order: 1
---

{% comment %}
Project activities are generated through the /_posts/ folder
{% endcomment %}

<h2>By tag</h2>



{% assign with_post_numbers = true %}
{% include tags_module.html %}

<div class="tagcloud" >
    <span class="tag" ><a class="btn btn-default" href="{{ site.blog_path}}">All activites <span class="badge">{{ site.posts.size }}</span></a></span>
{{ tagscontent }}
</div>


<h2>Most recent activites</h2>

{% for post in site.posts %}
    {% if forloop.index < 5 %}
    {% include post_link.html %}
    {% endif %}
{% endfor %}

<a href="{{ site.blog_path}}">See all</a>


