<!DOCTYPE html>
<html lang="en-us">

    {% include head.html %}

  <body>

    <div class="odk-logo" >
        <a href="{{ site.baseurl }}">
            <img class="img-responsive" src="{{ site.baseurl }}/public/logos/odk-elected-logo.svg" alt="OpenDreamKit logo" />
        </a>
    </div>

    {% include nav.html %}

    <div class="container main-content" >
        {{ content }}
    </div>


    {% include footer.html %}

  </body>
<!--
     Built: {{ site.time }}
     Commit: {{ site.github.build_revision }}
-->
</html>
