---
layout: default
---

  <h1 class="page-title">{{ page.title }}</h1>

    {% if page.image %}
        <section class="section-image">
            <img src="{{ site.baseurl }}/public/images/{{ page.image }}" alt="" />
        </section>

    {% endif %}

    <div class="content">
    {{ content }}

    {% if page.tag %}
        <section class="projects">
        {% for post in site.tags[page.tag] %}
            {% include post_link.html %}
        {% endfor %}
        </section>
    {% endif %}

    {% if page.extra_content %}
        {% capture extra_content %}
            {% include {{ page.extra_content }} %}
        {% endcapture %}
        {{ extra_content | markdownify }}
    {% endif %}

    </div>




