---
layout: default
---

<h1 class="page-title">{{ page.title }}</h1>

    {% if page.image %}
        <section class="section-image">
            <img src="{{ site.baseurl }}/public/images/{{ page.image }}" alt="" />
        </section>

    {% endif %}

    <div class="content">

    {% assign with_post_numbers = false %}
    {% include tags_module.html %}
    <p class="post-meta" >
        <span class="post-type">{{page.author}}</span> -
        {% if page.location %}<span class="post-location">{{page.location}}</span> - {% endif %}
        <span class="post-date">{{ page.date | date_to_string }}</span>
    </p>

    {{ content }}

    <p>
    {{ tagscontent }}
    </p>

    {% for tag in page.tags %}
        {% if taglist contains tag %}{% else %}
        <p class="error" >Tag without page: {{ tag }}</p>
        {% endif %}
    {% endfor %}


    </div>

