---
layout: slides
---

<section class="wp-report-title" >
<div class="logos" >
    <img src="{{ site.baseurl }}/public/logos/odk-elected-logo.svg" class="odk-logo" alt="OpenDreamKit"/>
    <img src="{{ site.baseurl }}/public/logos/Flag_of_Europe.svg" class="flag-europe" alt="European flag" />
</div>

{% if page.wp %}
{% for d in site.data.proposal.wp %}
    {% assign key = d[0] %}
    {% assign wp = site.data.proposal.wp[key] %}
    {% assign wpnum = wp["num"] | plus:0 %}
    {% if wpnum == page.wp %}
    <h1>{{ wp["title"] }}</h1>
    {% endif %}
{% endfor %}

<div class="info" >
{{ page.title }} - {{ page.author }}<br />

{{ page.period }}
</div>
{% else %}
    <h1>{{ page.title }}</h1>
    <div class="info" >
    {% if page.img %}
    <img style="float: right; margin: 0px 0px 15px 15px;" src="{{page.img}}" width="50%" />
    {% endif %}
        {{ page.author }}
        {% if page.fulldate %}
        <br>{{ page.fulldate }}
        {% endif %}
        {% if page.location %}
        <br>{{ page.location }}
        {% endif %}
    </div>

{% endif %}

</section>

{{ content }}
